@model Identity.API.ViewModels.LoginViewModel

<div class="login-page">
    @*<div class="page-header">
        <h1>Login</h1>
    </div>*@

    @Html.PartialAsync("_ValidationSummary")

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                        <h3 class="panel-title">User Login</h3>
                    </div>*@
                    <div class="panel-body">
                          <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <h3>User Login</h3>

                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Email" asp-for="Email" autofocus>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <input type="password" class="form-control" placeholder="Enter Password" asp-for="Password" autocomplete="off">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe">
                                            <strong>Remember My Login</strong>
                                        </label>
                                    </div>
                                }
                                
                            <div class="form-group">
                                <div class="col-sm-6 text-left">
                                <a asp-action="RegisterUser"
                                   asp-controller="Account"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    Pending Registration?
                                </a>
                                </div>
                                <div class="col-sm-6 text-right">
                                <a asp-action="forgotpassword"
                                   asp-controller="Account"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    Forgot Password?
                                </a>
                                </div>
                            </div>
                                
                                    
                                <div class="form-group">
                                    <div class="text-center">
                                        <button class="btn " name="button" value="login">Login</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @*@if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }*@
    </div>
</div>